<a href="https://colab.research.google.com/github/saquibherman/test-colab/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
pd.__version__

'1.1.5'

## Exercise 1

In [11]:
stocks = ['PLW', 'CDR', '11B', 'TEN']

print(pd.Series(data=stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

##Exercise 2

In [18]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

##Exercise 3

In [19]:
quotations = quotations.to_list()
print(quotations)

[387.0, 339.5, 349.5, 391.0]

##Exercise 4

In [23]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

quotations = pd.DataFrame(quotations, columns=['price'])
print(quotations)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

##Exercise 5

In [30]:
import numpy as np

pd.Series(np.arange(10.0,100.0,10.0),np.arange(101,110,1))

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [31]:
s = pd.Series(data=np.arange(10, 100, 10), index=np.arange(101, 110), dtype='float')
print(s)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

##Exercise 6

In [35]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series = series.astype(int)
print(series)

a    1
b    2
c    3
d    4
dtype: int64

In [36]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series = pd.to_numeric(series)
print(series)

a    1
b    2
c    3
d    4
dtype: int64

##Exercise 7

In [37]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

quotations['BBT'] = 25.5
quotations['F51'] = 19.2

print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

In [38]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
 
quotations = quotations.append(pd.Series({'BBT': 25.5, 'F51': 19.2}))
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

##Exercise 8

In [65]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0, 'BBT': 25.5, 'F51': 19.2}
quotations = pd.Series(data=stocks)

pd.DataFrame(quotations).reset_index().rename(columns={'index':'ticker', 0:'price'})

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

In [66]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0, 'BBT': 25.5, 'F51': 19.2}
quotations = pd.Series(data=stocks)

quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ['ticker', 'price']
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

##Exercise 9

In [67]:
data = {'company': ['Amazon', 'Microsoft', 'Facebook'], 'price': [2375.0,178.6,179.2], 'ticker': ['AMZN.US', 'MSFT.US','FB.US']}
companies = pd.DataFrame.from_dict(data)
print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

In [68]:
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}
 
companies = pd.DataFrame(data=data_dict)
print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

##Exercise 10

In [70]:
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}

companies = pd.DataFrame(data=data_dict)

companies = companies.set_index('company')
print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US